<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetEZ Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&family=Jersey+25&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="custom-dropdown">
            <h2>Select Basic Configuration</h2>
            <button class="dropdown-btn">Enable/Disable Interface</button>
            <ul class="dropdown-list">
                <li><a href="{{ url_for('index') }}">SSID & Password</a></li>
                <li>Firewall</li>
                <li>Monitoring Client</li>
                <li>Bandwidth Limitation</li>
                <li>Enable/Disable Interface</li>
                <li><a href="{{ url_for('backup') }}">Backup Configuration</a></li>
            </ul>
        </div>  
    </div>

    <div class="main-content">
        <h1 class="logo"><span class="blue">Net</span><span class="black">EZz</span></h1>
        <h2>Disable/Enable Interface</h2>
        <select id="options-interfaces">
            <option>ether1</option>
            <option>ether2</option>
            <option>ether3</option>
            <option>ether4</option>
            <option>wlan1</option>
        </select>
        <div class="radio-group">
            <input type="radio" id="enable" name="interface_status" value="enable">
            <label for="enable">enable</label><br>

            <input type="radio" id="disable" name="interface_status" value="disable">
            <label for="disable">disable</label>
        </div><br>
        <div class="buttons">
            <button type="button" class="cancel">Cancel</button>
            <button type="submit" class="save">Save</button>
        </div>
    </div>
</body>
</html>