<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetEZ Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&family=Jersey+25&display=swap" rel="stylesheet">

</head>
<body>
   <div class="main-content">
    <form>
        <h1 class="logo"><span class="blue">Net</span><span class="black">EZz</span></h1>
        <h2>Aplikasi Konfigurasi Mikrotik</h2>
        <input type="text" id="ip" placeholder="IP Address" required><br>
        <input type="text" id="username" placeholder="User" required><br>
        <input type="password" id="password" placeholder="Password" required><br>
        <div class="buttons">
        <button type="button" class="connect" onclick="login()">Connect</button>
        </div>
    </form>
   </div>
   <script>
    function login() {
        const ip = document.getElementById("ip").value;
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
    
        fetch('/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ ip, username, password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                alert("Login Berhasil!"); // Notifikasi sukses
                window.location.href = "/dashboard"; // Redirect ke halaman dashboard
            } else {
                alert("Login Gagal: " + data.error); // Notifikasi error
            }
        })
        .catch(error => console.error('Error:', error));
    }
    </script>    
</body>
</html>